{% include 'header.html' %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <h2>Login</h2>
            <form action="{{ url_for('login') }}" method="post">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese usuario">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese contraseña">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </form>
            <div class="mt-5">
                <h2>Noticias</h2>
                <!-- Sección de noticias -->
            </div>
            <div class="mt-5">
                <h2>Contactar</h2>
                <!-- Sección de contactar -->
            </div>
            <div class="mt-5">
                <h2>Proyectos 3D</h2>
                <!-- Imágenes de proyectos 3D -->
            </div>
        </div>
    </div>
</div>
